*{
    margin: 0px;
    padding: 0%;
}

nav{
    background-color: skyblue; 
    /* box-shadow: 2px 2px 2px green ;  */
 }
 img{
     width: 20%;
     background-color: skyblue;
     height: 57px;
 }
 nav>ul{
     float: right;
     display:flex

 }
 nav>ul>li{
     display: flex;
     /* margin: 20px; */
     padding: 20px;
     border-radius: 10px;
     /* box-shadow: 2px 2px 2px green ;   */
     font-size: large;
     justify-items: center;
     align-items: center;
 }
 ul>li>a{
    text-decoration: none;
 }
 ul>li:hover{
    background-color: rgb(151, 151, 251);
    color: red;
    transition: all 1s;
    box-shadow: 2px 2px 2px green ;  
 }

 /* common banner */
 .common-banner{
    height: 80vh;
    color: #fff;
    padding: 20px;
 }
 .common-banner>h1{
    text-align: center;
    font-size: 60px;
    text-shadow: 3px 3px 3px #ddd;
 }
 .common-banner>h1:hover{color:black;}
 /* BANNER-1 (P2.html) */
 .banner1{background-color: bisque;}